.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  /* padding: 10px; */
}

.card-img {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  
}

.card-title {
  font-size: 32px;
}

.card-period {
  font-size: 24px;
}

.back-btn {
  margin-left: 20px;
  padding: 3px;
}

.navigate-btn {
  display: flex;
  gap: 10px;
  margin: 10px;
}