.title-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  border-radius: 30px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 10px;
}

.door {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text {
  color: #535353;
  font-size: 40px;
}