* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CADCAE;
}

#root {
  max-width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #E1E9C9;
}