* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS에서의 변수 선언 */
/* 가상선택자 root에 넣어둔다. root : html의 전체영역(어디서든 접근할 수 있음) */
:root {
  /* 변수명은 무조건 `--변수명`로 시작 */
  --personal-color-1: #E1E9C9;
  --personal-color-2: #CADCAE;
}

body {
  /* 변수 사용: var(변수명) 호출 */
  background-color: var(--personal-color-2);
}

#root {
  max-width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #E1E9C9;
}